@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.container{
    height: 100vh;
}
.list{
   width: 400px;
   height: auto;
   min-height: 400px;
   backdrop-filter: blur(10px);
   border-color: #cd9ca0;
}

input::placeholder{
   color: #e4e3e3;
   font-size: small;
   padding: 10px;
}

input{
   border: 2px solid #cd9ca0;
}

button{
   height: 40px;
   width: 40px;
}

.bi:hover:hover{
   color: #ffc3a0;
}

.todo {
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #463c7b;
   border-radius: 5px;
   margin: 10px 0;
   padding: 5px 10px;
   border: 2px solid #e6b7eca1;
   transition: all 0.2s ease;
 }
 
 .todo:first-child {
   margin-top: 0;
 }
 
 .todo:last-child {
   margin-bottom: 0;
 }
 
 .todo:hover {
   background-color:#ea94f5a1;
 }
 
 .todo label {
   cursor: pointer;
   width: fit-content;
   display: flex;
   align-items: center;
   color: #eee;
 }
 
 .todo span {
   padding-left: 20px;
   position: relative;
   cursor: pointer;
 }
 
 span::before {
   content: "";
   height: 20px;
   width: 20px;
   position: absolute;
   margin-left: -30px;
   margin-top: 2px;
   border-radius: 100px;
   border: 2px solid #e6b7eca1;
 }
 
 input[type='checkbox'] {
   visibility: hidden;
 }
 
 input:checked + span {
   text-decoration: line-through
 }
 
 .todo:hover input:checked + span::before, input:checked + span::before {
   background: url('assets/svg/check.svg') 50% 50% no-repeat #09bb21;
   border-color: #09bb21;
 }
 
 .todo:hover span::before {
   border-color: #eee;
 }
 
 .todo .delete-btn  {
   background-color: transparent;
   border: none;
   cursor: pointer;
   color: #eee;
   font-size: 24px;
 }
 
 .todos-container{
   height: 300px;
   overflow: overlay;
 }
 
 .todos-container::-webkit-scrollbar-track  {
   background: rgb(247, 247, 247);
   border-radius: 20px
 }
 
 .todos-container::-webkit-scrollbar  {
   width: 0;
 }
 
 .todos-container:hover::-webkit-scrollbar  {
   width: 7px;
 }
 
 .todos-container::-webkit-scrollbar-thumb  {
   background: #d5d5d5;
   border-radius: 20px;
 }
 
.filter, .delete-all{
  color: #e4e3e3;
  border: 2px solid #cd9ca0;
  transition: all 0.2s ease;
  cursor: pointer;
}

.filter.active, .filter:hover {
  background-color: #e6b7eca1;
  color: white;
}

.delete-all:hover {
   background-color: #e6b7eca1;
   color: white;
 }

/* @media (max-width: 768px) {
.list {
  margin: 0 10px;
}

.todo-input {
    margin-bottom: 10px;
    width: 100%;
}

.filters {
    flex-direction: column;
    align-items: stretch;
}

.filter,
.delete-all {
    margin-top: 10px;
    text-align: center;
}
} */

@media (max-width: 320px) {
  
  .input-container {
    align-items: stretch;
  }
  .todo-input {
    /* width: 100%; */
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
  }
  .add-button {
    /* width: 100%; */
    /* height: auto; */
    /* padding: 5px; */
    margin-top: 5px;
  }
  .filters {
    flex-direction: column;
    align-items: stretch;
    margin-top: 10px;
  }
  .filter,
  .delete-all {
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
    padding: 5px;
    text-align: center;
  }
  .todos-container {
    height: 200px;
  }
  .todo {
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
    font-size: 14px;
  }
  .todo label {
    width: 100%;
    margin-bottom: 5px;
  }
  .todo .delete-btn {
    font-size: 20px;
    align-self: flex-end;
  }
  .empty-image{
    width: 200px;
    height: 150px;
    margin: 0;
  }
}
